
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@import "./partials/header";

@import "./partials/variables";

@import "./partials/typography";


@import "./partials/utils";




@import "./partials/general";

h1 {
  font-family: $primary-font;
  color: white;
}

.black {
  background-color: #1c1c1c;
}

.blue {
  background-color: $primary-color;
}
