
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@import "./partials/header";

@import "./partials/jumbotron.scss";

@import "./partials/comics";

@import "./partials/details";


@import "./partials/cta.scss";

@import "./partials/footer.scss";






@import "./partials/variables";

@import "./partials/typography";


@import "./partials/utils";




@import "./partials/general";

h1 {
  font-family: $primary-font;
  color: black;
}


.blue {
  background-color: $primary-color;
}
