header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul{
        display: flex;
        a{
            color: #6c6c6c;
            text-transform: uppercase;
            padding: 15px;
            font-size: 0.8rem;
            font-weight: 600;
        &:hover,
        &.active{
            color: green;
            }
        }
    }
    }
