
@import "./variables";


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    img{
      width: 70px;
    }
    ul{
        display: flex;
        list-style: none;
        a{
            color: #6c6c6c;
            text-transform: uppercase;
            padding: 15px;
            font-size: 0.8rem;
            font-weight: 600;
            text-decoration: none;
        &:hover,
        &.active{
            color: $primary-color;
            }
        }
    }
    }

.md-container{
  padding: 10px;
  width: 80%;
  max-width: $container-width;
  margin: 0 auto;
}
