.container{
  display: flex;
  padding: 20px;
.md-col{
display: flex;
align-items: center;

img{
width: 45px;
padding-right: 10px;
}
span{
color: white;
font-size: 0.6rem;
padding-right: 90px;
}
}
}

.md-col.first{
  margin-left: 40px;
}
